{% extends 'base.html.twig' %}

{% block title %}Ustav{% endblock %}

{% block body %}
    <h1>Ustav</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ustav.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ ustav.text }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ ustav.createdAt ? ustav.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ ustav.updatedAt ? ustav.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ustav_index') }}">back to list</a>

    <a href="{{ path('app_ustav_edit', {'id': ustav.id}) }}">edit</a>

    {{ include('ustav/_delete_form.html.twig') }}
{% endblock %}
